
.solucao{
    padding: 5rem;
}

h1{
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    color: #E6EEF3;
}

h2{
    text-align: center;
    font-weight: 500;
    color: #0D2B57;
    font-size: 35px;
    
}
.solucaotexto{
    background: #E6EEF3;
    padding: 2rem;
    border-radius: 5px;
    
}

article{
    text-align: justify;
}

article p{
    font-size: 20px;
}

article b{
    color: #0D2B57;
}

.solucaowhats{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.solucaowhats img{
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1px black;
}

.quemsomos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    gap: 20px; 
}

.perfil{
    max-width: 475px;
    border: 3px solid #E6EEF3; 
    border-radius: 10px; 
    padding: 10px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.fotoperfil{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.iconeperfil{
    height: 24px;
    width: 24px;
}

.perfil p{
    color: #E6EEF3;
    text-align: justify;
}

.perfil a{
    text-decoration: none;
    color: aqua;
}